

.btm-pos{
    top:40%;
    left:45%;
}


 .head{
    font-size: 35px;
    font-weight: 400px;
 }
 .h-quote{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

Font-size: 80px;

Font-weight: 700;

Line-height: normal;



 }


 .p-font{
    font-family: "Times New Roman";

Font-size: 35px

 }